body, header, div, #parent, main, nav ul{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

#parent{
    display: grid;
    margin:0px;
    min-height: 100vh;
    padding:0px;
    grid-template-rows: auto 50px 1fr 50px;
    grid-template-columns: auto;

        grid-template-areas: 
        "header"
        "nav"
        "content"
        "footer";
}

header{
    
    grid-area:header;
    background-color: rgb(0, 0, 0);
    padding:20px;
    position: sticky;
    top:0;
}
#tongue{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    margin-left:10px;
}
#headTitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#headTitle:hover{
    opacity: .5;
}
img{
    width:100px
}
#mainLink{
    margin:auto;
    color:white;
}

nav ul {
    display: flex;                
    list-style: none;
}
nav ul li {
    flex: 1;   
}
nav ul li button {
    width: 100%;           
    height: 100%;
    display: block;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    border:none;
    cursor: pointer;
    text-align: center;
    padding: 20px 0;     
}
nav button:link, nav button:visited{
    text-decoration:none;
}
nav button:hover, nav button:active {
    background-color: #FFD700;
    color: black;
   text-decoration:none;
}
header a:link, header a:visited{
    text-decoration:none;
    color: #FFD700;

}
header a:hover, header a:active {
    color:#FFD700;
   text-decoration:none;
}
#indexOver{
    display: flex;
    flex-direction: row;
}
#sideIndex{
    height:500px;
    width:45%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    
    color: white;
    margin:50px 30px;
}
#mainIndex{
    height:500px;
    width:45%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    color: white;
    margin:50px 30px;

}
#mainIndex button{
    width:150px;
     height:30px;
    background-color: #FFD700;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#QANDACARD{
    height:500px;
    width:65%;
    background-color: black;
    border:3px solid #FFD700;;
    border-radius: 10px;
    padding:30px;
    box-shadow: 0 0 30px #FFD700;
    color: white;
    margin: auto;
    margin-top:50px;
    overflow-y: auto;
}
button:hover{
    cursor: pointer;
}
main {
    grid-area: content;
    background-color: black;
    overflow-y: auto;  
}
#loginCard input, #signUpCard input{
    width:150px;
    height:50px;
}
input{
    background-color: black;
    color:white;
    border:1px solid #FFD700;
    border: 10px;
}

#signUpCard, #loginCard{
    width: 90%;     
    max-width: 800px; 
    margin: 100px auto;
    background-color: black;
    border: 3px solid #FFD700;
    color: white;
    border-radius: 10px;
    padding: 75px 25px;       
    box-shadow: 0 0 120px #FFD700;
    box-sizing: border-box;
}
   
#oLogin{
    background-color: black;
    color:white;
    width:90px;
    height:50px;
    border: 4px solid #FFD700;
    border-radius: 10px;
    margin-left:20px
}
#overall {
    /* flex-direction: column; Stack textbox and view on top of each other */
    display: flex;
    align-items: center;
    flex-direction: row;
}
#textbox, #view{
   flex: 1;
    max-width: 600px;
    height: 400px; 
    margin: 20px auto;
    border: 3px solid #FFD700;
    box-shadow: 0 0 120px #FFD700;
    border-radius: 10px;
    color: white;
    padding: 15px;
    overflow-y: auto;
    box-sizing: border-box; 
}



#keyboard{
    text-align: center;
}
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}

footer {
    grid-area: footer;
    background-color: rgb(15, 15, 15);
    color: #FFD700;
    display: flex;
    align-items: center;         
    justify-content: center;     
    padding: 20px 0px;               
    text-align: center;           
}

#footerLink{
    margin:10px 30px;
    color: #FFD700;
    text-decoration: none;
}
footer a:link, footer a:visited{
    text-decoration:none;
} 
footer a:hover, footer a:active {
   text-decoration:none;
   opacity: .5;
}


.svg{
    width:50px;
}
#GS:hover{
    opacity: .5;
}


@media (max-width: 768px) {
    #indexOver {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #sideIndex, #mainIndex {
        width: 60% !important;
        margin: 20px 0 !important;  
        margin: 10px 20px;
        min-height: 300px; 
        align-items: center;
        justify-content: center;
    }
    #mainIndex{
        height:75%;
    }
    #loginCard, #signUpCard {
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center; 
    width:80%;
    margin:20px auto;
    }
    #oLogin, #loginCard input, #signUpCard input{
        width:95%;
    }
    #overall{
        display: flex;
        flex-direction: column; 
    }
    #textbox, #view {
        width: 85%; /* Wider for thumb-typing */
        margin: 10px 0; 
        
        height: 25vh; 
        min-height: 200px; /* Ensures it never gets TOO small */
    }
}